* {
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    transition: all .2s linear;
    
    padding: 0px;
    margin: 0px;
    font-family:'Times New Roman', Times, serif;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(109, 109, 109);
    color: white;
    transition: .5s ease all;

}
 
nav{
    position: absolute;
    width: 100%;
    
    z-index: 10;
    background-color: #f0f0f0;
    top: 0px;
    color: rgb(2, 1, 1);
   
  }
  article{
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
   /* left: 50%;
    margin-left: -40%;*/
    top: 18.7%;
    background:  #ffffff;
    
  }

  article.activearticulo{
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
   /* left: 50%;
    margin-left: -40%;*/
    top: 18.7%;
    background:  #ffffff;
    margin-top: 300px;
  }

  .Paste{
    position: fixed;
    top: 0;
  }

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    
}

.navbar-links li {
    list-style: none;
    
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    transition: .3s ease all;
}

#btn-buscar:hover{
    color: #555555;
    background-color: #ffffff; 

}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
#btn-buscar{
transition: .3s ease all;
}
@media (min-width:900px){
    input[type=text] {
        border-color: #333;
        float: right; /**/
        padding: 6px; /**/
        border: none;
        margin-top: 8px;
        margin-right: 15px;
        font-size: 17px;
        position: absolute  ;/**/
        left: 15%; /**/
        border-radius: 3px;
        
      }
      
    #btn-buscar{
        position:absolute;
        left: 30%;
        bottom: 33%;
        
        background-color: #555555; 
        border: none;
        color: white;
        padding: 10px 32px ;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 3px;
        transition: .3s ease all;
    }
    #btn-buscar:hover{
        color: #555555;
        background-color: #ffffff; 
    
    }
}

@media (max-width: 900px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    input[type=text] {
        border-color: #333;
       
        border: none;
        margin-top: 8px;
        margin-right: 15px;
        font-size: 17px;
       
        border-radius: 3px;
        
      }
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }
    .navbar-links ul li input[type=text]  {
        padding: .5rem 1rem;
    }
    .navbar-links ul li input[type=button]  {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
}




.card{
    margin: 0 auto;
    box-shadow: 0.1rem .2rem .2rem #3337;
    border: .1rem solid #fff;
    padding: 1rem 1rem;
    
    border-radius: 3px;
}
.row{
    padding: 1rem 1rem 1rem ;
}
#imgprod {
    width: 50%;
    height: auto;
    box-shadow: 0 .3rem .5rem #3337;
    border: .1px solid #fff;
    padding: 1rem 1rem 1rem ;
    
}

#imgprod img{
    width: 100%;
    height: 100%;
}

.col-md-2{
    margin: 0 auto;
   
}
.card-body{
    color: rgb(0, 0, 0);
}
/*
.card-body{
    
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    position: absolute;
    left: 90%;
}
*/
.card-body .card-title{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
}

.card-body h5{
    font-size: 25px;
    
}

.card-body p{
    margin:0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: flex-start;
}
.card-body .btn{
    height: 4rem;
    width: 18rem;
    background-color: rgb(68, 68, 68);
    color: #fff;
    margin-right: 1rem ;
    border:none;
    
}

.card-body .btn:hover{
    background: #666;

}


























